@font-face{
  font-family: 'Raleway';
  src: url("https://fonts.google.com/specimen/Raleway?vfonly=true");
  font-weight: normal;
  font-style: normal;
}
.title{
  font-family: Gropled, sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 72px;
  background: #ffff;
}